body {
    margin: 0px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: poppinsRegular;
}

.brewedImg {
    width: 100%;
    height: 750px;
}
.logo{
    position:absolute;
    width:150px;
    padding:15px;
}
ul li{
    list-style:none;
    display: inline;
    color:#fff;
    padding:25px;
    font-weight:bold;
    
}
#headerSec {
    background-color: #000;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    z-index:9;
}
.nav-links{
    text-align:right;
    font-size:21px;
    padding:25px;
}
.coffeeBean{
    width:30px;
    padding:5px;
}
.coffeeBean1 {
    width: 30px;
    padding: 5px;
}
.coffeeBean2 {
    width: 30px;
    padding: 5px;
}
.coffeeBean3 {
    width: 30px;
    padding: 5px;
}
.nav-item.active {
    color: #9c6f44 !important;
    
}
a {
    color: #fff !important;
    text-decoration: none !important;
}

.primaryBtn {
    color: #fff !important;
    padding: 5px;
    position: absolute;
    top: 85%;
    left: 45%;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background-color: #9c6f44;
    padding: 10px;
    border-radius: 26px;
    border:1px solid #000;
}
.secondaryBtn {
    color: #fff !important;
    padding: 5px;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    background-color: #9c6f44;
    padding: 10px;
    border-radius: 26px;
    border: 1px solid #000;
}
@font-face {
    font-family: interBold;
    src: url(../fonts/Inter-Bold.otf);
}
@font-face {
    font-family: poppinsRegular;
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: niagaraSolid;
    src: url(../fonts/niagaraSolid.TTF);
}
h2{
    font-family:interBold;
}
#text-row {
    padding: 50px;
    background-image: url('file:///C:/Users/zacha/source/repos/zkarst/brewed2perfection/images/coffee-beans.png');
    
}
.cupof-coffee{
    width:100%;
    float:right;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.heroImage1 {
    animation: 2.5s fadeInUp;
}
.headingText{
    color:#000;
}

.menuHeading {
    font-size: 62px;
    text-align: center;
    font-family: 'Great Vibes';
}
#coffeeBenefits {
    background-color: #F5F0EC;
    padding: 50px;
}

.benefitsHeading {
    font-size: 62px;
    font-family: 'Great Vibes';
    text-align: center;
    text-shadow: 2px 3px #888;
    padding-bottom: 50px;
}
.contactHeading {
    font-family: 'Great Vibes';
    text-align: center;
    font-size: 50px;
}
.benefit-heading {
    font-family: InterBold;
}
.box-left {
    margin: 50px;
    padding: 25px;
    box-shadow: 3px 3px #9c6f44;
    border-radius: 10px;
    animation: 3s 1 fadeInLeft;
    
}
.box-right {
    margin: 50px;
    padding: 25px;
    box-shadow: 3px 3px #9c6f44;
    border-radius: 10px;
    animation: 3s 1 fadeInRight;
   
}
.box-left.is-visible {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}
.box-right.inView {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}
.is-visible {
    opacity: 1;
    -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
    transform: translateY(0px) rotate(0deg) translateZ(0);
}

/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}


@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.dispCoffeeCup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width:600px;
}
.box-left {
    transform: translateX(-400%);
    transition: transform 0.5s;
    transition-delay: 0.2s;
    text-align:right;
}

    .box-left.show {
        transform: translateX(0);
    }
.box-right {
    transform: translateX(400%);
    transition: transform 0.5s;
    transition-delay: 0.3s;
}

    .box-right.show {
        transform: translateX(0);
    }
#footer {
    background-color: #9c6f44;
    padding:50px;
    z-index:1;
}
.footer-logo {
    width: 250px;
}
.footer-heading{
    color:#fff;
    font-family:Poppins;
}
.footer-links{
    color:#fff;
    
}
#menu-box{
    background-color:#fff;
    padding:50px;
   
}
.cheersImg{
   width:100%;
}
#menuArea {
    background-image: url('file:///C:/Users/zacha/source/repos/zkarst/brewed2perfection//images/coffee-cheers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bread-image {
    z-index: 1;
    position: relative;
    top: 25%;
}
.menu-heading{
    font-family:'Great Vibes';
    font-size:5rem;
    font-weight:bold;
    text-align:center;
}
.menuItem{
    font-weight:bold;
    font-size:18px;
}
#contact-row {
    background-color: #F5F0EC;
    padding:50px;
}
.contact{
    text-align:center;
}

#two-bean {
    background-image: url('file:///C:/Users/zacha/source/repos/zkarst/brewed2perfection/images/two-beans.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity:35%;
}
@media only screen and (min-width: 1200px){
    #mobileMenu {
        display: none;
    }

}
#mobileMenu {
    margin-top: 100px;
}
@media only screen and (max-width: 1080px) {

    .brewedImg {
        width: 100% !important;
        height: 100% !important;
    }

    .bread-image {
        display: none;
    }
    .dispCoffeeCup{
        display:none;
    }
    .primaryBtn{
        display:none;
    }
    .cupof-coffee{
        margin-top:75px;
    }
    .nav-links {
        text-align: right;
        font-size: 21px;
        padding: 25px;
        display: none;
    }
}
@media only screen and (max-width: 480px) {
    .bread-image{
        display:none;
    }
    #coffeeBenefits{
        padding:0px;
    }
    .benefitsHeading{
        padding-top:50px;
    }
    .nav-links {
        text-align: right;
        font-size: 21px;
        padding: 25px;
        display: none;
    }
   
    #headerSec{
        padding-left:0px;
    }
}
#menuicon {
    position: absolute;
    z-index: 99999;
    top: 0px;
    right: 25px;
    width: 65px;
    opacity: 75%;
}
#about-header {
    background-image: url('file:///C:/Users/zacha/source/repos/zkarst/brewed2perfection/images/steamy-coffee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    padding:50px;
}
#about-row{
    padding:50px;
}
/*Contact Form*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #563517;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #9c6f44;
    }

.container {
    border-radius: 5px;
    padding: 20px;
}
#contact-info {
    background-color: #F5F0EC;
}
#info-container{
    padding:50px;
}