body {
    margin: 0px;
}
.brewedImg {
    width: 100%;
}
.logo{
    width:150px;
    padding:15px;
}
ul li{
    list-style:none;
    display: inline;
    color:#fff;
    padding:25px;
    font-weight:bold;
    
}
#headerSec {
    background-color: #000;
    position: fixed;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}
.nav-links{
    text-align:right;
    font-size:21px;
    padding:25px;
}
.coffeeBean{
    width:30px;
    padding:5px;
}