################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/brewed2perfection/FileContentIndex/055d58b6-0391-405e-8527-5e4e0a1f1bf1.vsidx
/.vs/brewed2perfection/FileContentIndex/56b27afd-873b-457a-b59d-68335ca0036c.vsidx
/.vs/brewed2perfection/FileContentIndex/6a33ce99-d71f-4076-949f-53da7b383a3c.vsidx
/.vs/brewed2perfection/FileContentIndex/7cf5db38-cf5d-4c6d-a0e9-857af29200bf.vsidx
/.vs/brewed2perfection/FileContentIndex/a1bf0c0c-2106-41f2-9e18-62b7a3e33256.vsidx
/.vs/brewed2perfection/FileContentIndex/be751a9d-baae-4f66-8178-5748ab309d54.vsidx
*.vsidx
