################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/brewed2perfection/FileContentIndex/055d58b6-0391-405e-8527-5e4e0a1f1bf1.vsidx
